<a href="https://colab.research.google.com/github/Ek-zhou/2019-09-23-gwu/blob/gh-pages/Python_workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to the **GW Libraries Programming with Python workshop.**

## Quick tips

When working in a Google Colaboratory notebook, **Shift-Return (Shift-Enter)** runs the cell you're on.  You can also run the cell using the "Play" button at the left edge of the cell.

There are many other keyboard shortcuts.  You can access the list via the menu bar, at **Tools-->Command palette**.  In fact, you can even customize your keyboard shortcuts using **Tools-->Keyboard shortcuts**.

### If you're working in Google Colab:
- Shift-Return (Shift-Enter) runs the cell you're on.  You can also run the cell using the "Play" button in the toolbar.
- Alt-Return (Alt-Enter) runs the cell you're on and inserts a new cell below.
- More shortcuts under Tools --> Keyboard Shortcuts

### If you're working in an Anaconda/Jupyter notebook:
- Shift-Return (Shift-Enter) runs the cell you're on.  You can also run the cell using the "Play" button in the toolbar.
- Esc, then A inserts a cell above where you are.
- Esc, then B inserts a cell below where you are.
- More shortcuts under Help --> Keyboard Shortcuts


You will probably get some errors in working through this notebook.  That's okay, you can just go back and change the cell and re-run it.

The notebook auto-saves as you work, just like gmail and most Google apps.





# Variables

The first thing we're going to do is to learn about **variables**.  Variables are a way to store values that can be numbers, text, lists, boolean (true/false), etc.

Much like in algebra, you set the value of a variable using what looks like an equation.

To run this next cell, click on it and either press Shift-Enter, or press the Play ("run cell") button in the toolbar.

In [0]:
price = 7.99

So let's see the effect of that, by having Python **evaluate** our variable called `price`.  Again, press Shift-Enter, or press the Play ("run cell") button in the toolbar.

In [6]:
price

7.99

Next, set the value of a new variable to your name.   A couple of things you'll need to know:
* Variable names can't contain spaces or special characters (except `_` )
* String values (like words or text) must be contained in a pair of either matching single quotes or matching double quotes.  For example:  `'This is some text'` or `"This is some text"`

In [7]:
quantity

NameError: ignored

In [0]:
name = 'nopi'

If you have another language installed on your computer (Chinese, Arabic, etc.), try using foreign characters in your string.  Python handles these well.

An example might be: 

```
someText = 'سلام'
```

In [0]:
quantity  = 180
extended_prince = price * quantity

In [12]:
extended_prince

1438.2

In [15]:
name * 4

'nopinopinopinopi'

In [16]:
str(454)

'454'

In [17]:
type(price)

float

In [18]:
type(name)

str

In [19]:
type(quantity)

int

In [0]:
awsome = True

In [22]:
type (awsome)

bool

In [23]:
price >4.8

True

In [0]:
price_is_high = (price >4.8)

In [25]:
price_is_high

True

In [26]:
name == 'Dan'

False

What if we wanted to do some simple math using these variables?

* Create a new variable called `quantity` and set it to a number.
* Create another new variable called `extended_price` and set it to the product of price \* quantity (use `*` for multiplying)

What happens if you try multiplying the name variable by 4?

How about if you *divide* it by 2?  Add a number to it?  Add another name to it (using `+`)?

What we're starting to see here is that Python has different **types** for numbers, text, and more.  You can find out the type of a variable by using:

**`type(`**put your variable here**`)`** 

Try it.

Numbers, by the way, aren't just numbers.  Look at the type of the `price` variable versus another variable set to `7`.

You can even re-assign an existing variable to new type.  Try it!

There's also another important basic variable type, called a **boolean** variable.  Booleans can have a value of **`True`** or **`False`** (capitalized, in Python)

Create a variable called `gwstudent` and assign its value to `True`:

Now evaluate the `type()` of gwstudent.

#### Comparison operators:  <, >, ==, !=, <=, >=, and, or, not, ...

Try out some comparisons, for example, whether:
* `price` is greater than 5.99
* `name` is equal to "Dan"

# Lists and Tuples

**Lists** in Python hold an _ordered_ sequence of elements, like this:

`states = ['Virginia', 'Maryland', 'New Jersey', 'Utah', 'Rhode Island']`

Try creating a list of several countries.

In [0]:
countries = ['Canada','UK','USA','Japan','Korea']

We can access the n'th element of a list using the `mylist[n]` notation.

Try retrieving the first country in the list you created above.

In [30]:
countries[0]

'Canada'

Notice that in Python, the first element of the list is really the "0th" element (this is not the case when programming in R!)

You can also access parts of the list using syntax like: [0:2], [:2], [3:], [-2],[-2:].  See if you can figure out what these do.

In [31]:
countries[2:4]

['US', 'Japan']

In [33]:
countries[2:3]

['US']

In [35]:
type(countries[2:3])

list

In [36]:
countries[2:2]

[]

In [0]:
countries.append('USA')

Lists come with useful functions, like `len(mylist)` which returns the length of the list.  Try using `len()`

In [40]:
countries

['Canada', 'UK', 'USA', 'Japan', 'Korea', 'USA']

What if you wanted to add an element to a list?  Or remove an element from a list?  Try using:

`mylist.append(<the new element>)`
for example, `states.append('New York')`

In [0]:
countries.insert(0, 'France')

In [42]:
countries

['France', 'Canada', 'UK', 'USA', 'Japan', 'Korea', 'USA']

There are also list functions to do things like insert, remove, sort, reverse.  You can also use the `+` operator to add lists together. You can even multiply a list by a number, similar to how earlier we multiplied a string by a number!

Try adding a list of two new states to your list.

In [43]:
[3,'A', False] + [4,5]

[3, 'A', False, 4, 5]

So far, we've only created lists of strings (text).  Do you think Python will let you have a list with a mix of different types in it (numbers, strings, other lists, etc.)?  Try it.

In [44]:
[3,'A', False] + 4

TypeError: ignored

In [45]:
[3,'A', False] + [4]

[3, 'A', False, 4]

In [0]:
countries = ['Greenland','Greek'] + countries

In [54]:
countries

['Greenland',
 'Greek',
 'France',
 'Canada',
 'UK',
 'USA',
 'Japan',
 'Korea',
 'USA']

In [56]:
mylist = [['a','b'],3,[1,2]]
mylist

[['a', 'b'], 3, [1, 2]]

In [58]:
#extracting b in the list  mylist[0] only extract the first element 
mylist[0][1]

'b'

In [59]:
countries * 3

['Greenland',
 'Greek',
 'France',
 'Canada',
 'UK',
 'USA',
 'Japan',
 'Korea',
 'USA',
 'Greenland',
 'Greek',
 'France',
 'Canada',
 'UK',
 'USA',
 'Japan',
 'Korea',
 'USA',
 'Greenland',
 'Greek',
 'France',
 'Canada',
 'UK',
 'USA',
 'Japan',
 'Korea',
 'USA']

Strings (like your name variable) also have some list-like behaviors, because they're lists of individual charactres.  How might you get the the n'th character from a string?

In [61]:
name[1:3]  #select the spcific letter inside the nopis name

'op'

In [0]:
name.

In [62]:
countries[0][0:2]

'Gr'

In [64]:
name.endswith('i')

True

In [65]:
'123'.isnumeric()

True

In [0]:
zipcode = 'A20052'   #zipcode = '200d52' is ask again that would be false

In [69]:
zipcode.isnumeric()

False

In [73]:
zipcode.find('3')

-1

In [76]:
'200' in zipcode

True

### Tuples

Notice that we created a list using [] square brackets.  If we use () parentheses, we create what's called a *tuple*.  A tuple might be something like this:

In [0]:
colors = ('blue', 'green', 'red')

Notice that tuples are like lists: you can access elements, etc.  But what if you try to append to a tuple?

### The "in" operator

We can use `in` to see whether an element is found in a list.  Try running this:

In [0]:
'yellow' in colors

# Dictionaries

A **Dictionary** is a container that holds pairs of objects - keys and values.  Keys may be strings or numbers.  A value may be any type, whether an integer, string, boolean, list, etc.  It can even be another dictionary!

Here's an example of a dictionary:

In [0]:
workshop = {'name': 'Programming With Python',
            'duration': 2,
            'instructors': ['Dan', 'Laura', 'Dolsy', 'Nopi'],
            'awesome': True}

So dictionaries are very similar to lists, except that they're indexed with keys.

Dictionaries are actually data structures that can represent objects in **JSON** (JavaScript Object Notation) format, which today is a very common way of representing data!

How do you think you would access the value of `'instructors'` key from the `workshop` dictionary?

In [82]:
workshop['instructors']  #extract the key

['Dan', 'Laura', 'Dolsy', 'Nopi']

How do you think you would ***add*** an item to the dictionary?  Try adding a 'location' item.  How about replacing an item?

In [0]:
workshop['location'] = 'Gelamn Library'

In [86]:
workshop

{'awesome': True,
 'duration': 2,
 'instructors': ['Dan', 'Laura', 'Dolsy', 'Nopi'],
 'location': 'Gelamn Library',
 'name': 'Programming With Python'}

In [0]:
workshop['instructors']  = workshop['instructors'] + ['Taylor', 'Tyler']
workshop['majors'] = 'Business'

In [0]:
workshop['instructors'].extend(['Susan','Sam'])   # add new elements into the list

In [96]:
workshop

{'awesome': True,
 'duration': 2,
 'instructors': ['Dan',
  'Laura',
  'Dolsy',
  'Nopi',
  'Taylor',
  'Tyler',
  'Susan',
  'Sam',
  'Susan',
  'Sam'],
 'location': 'Gelamn Library',
 'majors': 'Business',
 'name': 'Programming With Python',
 'time': '15:50'}

In [100]:
2 in workshop.values()

True

### Challenge

How might you add two more names to the list of instructors?  (Challenge:  Try to do this in one line, *without* just overriding the list of instructors)

We can also look up whether a certain key exists in a dictionary.  How might you evaluate whether or not `workshop` contains a `location` key?

# Comments

Comment lines start with `#`.  They don't execute any code, but it's a very good idea to comment your code so that the reader (which might be your future self) can understand anything that's not already obvious from your clear and well-written code.

In [0]:
# This is a comment and is here for the reader's benefit

# Iteration (looping)

Iteration allows us to repeat over a section of code, and iterate through a list (or other "iterable") at the same time.  **`for`** and **`while`** create iterations, like this:

```
numbers = [4, 6, 0, 5.5, 3]
for n in numbers:
    print("The next number in the list, squared is ", n**2)
    
print("We're done iterating -- notice that this line isn't indented, so it's outside the loop")
```    

and this brings up the topic of **indentation**!  The block (i.e., lines) of code that you're iterating over needs to be indented.  In Python, you should indent by 4 spaces.

Try creating a list of exam scores that we'd like to grade on a curve.  Use `max()` to find out the highest score.  Then create an iteration that prints out the score as well as the score graded on a curve (by dividing by the highest score).

In [108]:
scores = [86,88,90,15,57,68,98]

highest_score = max(scores)


for x in scores:
  curved_score = 100*x/highest_score
  print(curved_score)

87.75510204081633
89.79591836734694
91.83673469387755
15.306122448979592
58.16326530612245
69.38775510204081
100.0

In [109]:
x

98

Iterating over dictionaries is slightly different:

In [0]:
for key, value in workshop.items():
    print ("The key is ", key, " and the value is ", value)

Notice that dictionaries are unordered.  There's no guarantee about what order the iterator will yield the dictionary items to you in.

### Another way to iterate: `while`

What if we don't have a list or other "iterable" for our for loop to iterate over? In that case, you can also loop using **`while`**.

Let's keep adding random numbers (between 1 and 10) until the sum hits at least 50.  We can use Python's `random` library, which we first need to import:

In [0]:
import random

In [0]:
random.randint(1,10)

4

Now for the `while` loop:

In [0]:
#total_so_far = 0
while total_so_far < 50:
  print("Total so far is ", total_so_far)
  total_so_far = total_so_far + random.randint(1, 10)

print("Final total is ", total_so_far)

### A random side note:
    
Try running the cell above with `random.randint(1,10)` again and again.  In a scientific setting, how might you ensure that your random sequence is "repeatable"?

### Another use of while:

One way you might see `while` used is with **`while True`** which just continues indefinitely:

In [112]:
lucky_number = 7

while True:
    a_number = random.randint(1,10)
    if a_number != lucky_number:
        print("Darn! Didn't get a", lucky_number)
    else:
        print("Got a lucky", lucky_number,"-- Taking my winnings and quitting the while loop.")
        break

NameError: ignored

What does the `break` statement do?

## Conditionals

Notice that in the example above, we snuck in the use of **`if`** and **`else`**.  Conditional expressions, using `if`, `else`, and `elif` (a contraction of "else if") allow us to execute blocks of code only if the condition is true.

Create some code that iterates through a list of exam scores.  If a score is 70 or above, it should print out "Pass!"  If it's below 70, it should print out "Fail!"

In [111]:
scores = [61, 95, 70, 80, 85, 99]

  
for s in scores:
  if s >= 90:
    print('Great')
  elif s >= 70 and s <= 90:
    print('Not too good')
  else:
    print('You need to review this materisal')

You need to review this materisal
Great
Not too good
Not too good
Not too good
Great

## Functions

We've already seen some built-in functions, such as `print()`, `max()`, and `len()`.  But Python is meant to be used with more than just its built-in functions.

Let's try to take the square root of a number in Python, using `sqrt()`:

What happened?  But I googled and saw that the square root function in Python is called `sqrt()`!

### Importing libraries and using their functions

Libraries are sets of Python functions that you can "import" to make available and use with *your* code.

There are libraries that are part of Python, such as `math`, and libraries that other people write, such as `numpy`.

We can import the math library into our code with:

```import math```

Each time we call a function that's in a library, we use the syntax ***LibraryName.FunctionName***. Adding the library name with a . before the function name tells Python where to find the function.

Let's try taking that square root again:

In [117]:
import math as m
m.sqrt(25)

5.0

In [0]:
def

And if we want, we can do something like this:

```from math import sqrt```

See if you can figure out what effect that had:

When might you choose

```import some_library```

versus

```from some_library import some_function```

or even

```from some_library import *``` ?

### Writing our own functions

What if we want to write our own functions?

Defining part of a program in Python as a function is done using the `def` keyword. For example a function that takes a temperature in degrees Fahrenheit and returns the temperature in degrees Celsius:

In [0]:
def fahreinheit2celsius(temp_fahr):
    temp_celsius = (temp_fahr-32)*5/9
    return temp_celsius

Now we can use it:

In [0]:
c = fahreinheit2celsius(100)
print(c)

### What's variable "scope"?

Let's say we had defined our function like this, using a variable called `ratio` instead of `5/9`:

In [0]:
def fahreinheit2celsius(temp_fahr):
    ratio = 5/9
    temp_celsius = (temp_fahr-32)*ratio
    return temp_celsius

What happens if we then try to print `ratio`?

In [0]:
print(ratio)

Why did we get this error?

### A bit more about passing values to functions

Remember earlier how we graded test scores on a curve?  Let's make a function to do that.  We'll pass it the individual test score, and the top score that will be our new "100%":

In [0]:
def curve(score, top_score):
    return 100*score/top_score

In [0]:
curve(89, 96)

Now, if we specify which parameter is which, we can pass them in any order we like!

In [0]:
curve(top_score=96, score=89)

Key points here:

- definition starts with **`def`**
- function body is indented
- parameters are matched "in order", unless we specify them by name
- **`return`** keyword precedes returned value

## Challenge - Putting some skills together

Can you create a function called `pad` that would take a list and pads it with some new item if it's less than the length you want?  You would use it like this:

```
names = ['Ali', 'Bob', 'Carla']
names = pad(names, 5, '*')
```
Then `names` would evaluate to:
```
['Ali', 'Bob', 'Carla', '*', '*']
```

In [125]:
def pad(name_list, description_length, pad_string):
#fifure out how much longer the list needs to be
 pad_length = desired_length- len(name_lists)
  #crteat the eatra list

  
  if (pad_length < 0)

SyntaxError: ignored

In [0]:

#fig_st[]